@import '../../styles/variables.css';

.expenses {
  background-color: white;
  border-radius: .5rem;
  border: solid $darkest-green .1rem;
  margin: 1rem 0;
  padding-bottom: 1rem;

}

@media (min-width: 450px) {
  .expenses {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    
  }
}

@media (min-width: 500px) {
  .expenses {
    .expense-add {
      fieldset {
        display: inherit;
        label {
          display: inline-block;
        }
        label[for="price"] {
          width: 40%;
        }
        label[for="name"] {
          width: 60%;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .expenses {
    .expense-add {
      display: flex;
      width: 90%;
      margin: 0 auto;
      fieldset {
        display: block;
        flex-grow: 3;
      }
      button {
        flex-basis: 2rem;
        flex-grow: 1;
        margin: 2rem 0;
      }
      label[for="price"] {
        width: 30%;
      }
      label[for="name"] {
        width: 70%;
      }
    }
  }

}