@import '../../styles/variables.css';

.app {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows: auto 1fr auto;
}

.maxwidth-wrap {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

#header {
  grid-area: header;
}


h1 {
  color: rgb(240, 140, 59);
  text-shadow: 2px 3px 3px rgba(14, 13, 5, 0.842);
}

#main {
  grid-area: content;
  text-align: center;
  max-width: 100%;
  padding: 0, auto;
  margin: 0, auto;
  background-color: rgb(235, 223, 207);
}

#footer {
  grid-area: footer;
  padding: 1.5rem;
  text-align: center;
  background-color:#687A8F;
}