
#main-header {
  padding: 2rem;
  height: auto;
  /* position: relative; */
  background-color: #687A8F;
  #logo {
    
    width: 64px;
    /* margin: .5rem; */
    /* position: absolute; */
    
  }
  section {
    display: flex;
    flex-direction: rows;
    align-items: center;
  }
  
  h1 {
    font-size: 2.5rem;
    transform: translateX(-60px);
    display: inline-block;
    text-align: center;
    margin:  -1rem auto 1rem ;


  }

}