@import '../../variables.css';

li {
  width: 96%;
}
.expense, .editExpense {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none; 
}

.expense, .editExpense > button {
  font-family: 'Open Sans', sans-serif;
}

.expense {
  height: 2rem; 
  width: 90%; 
  margin: 1rem auto 0;
  background: $lightgreen;
  color: $darkgreen;
  font-size: 1.2rem;
  font-weight: 300;
}

.editExpense {
  width: 90%;
  margin: 0 auto 1rem;
  background: rgba(32,41,33,.1);
  border-radius: 5px;

  button {
    background: none;
    color: $darkgreen;
    width: 6rem;
    height: 1.5rem;
    font-size: .8rem;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
  }

  button:hover {
    text-decoration: underline;
  }
}