@import '../../styles/variables.css';

.category-form {
  fieldset {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 1rem;
      font-size: 1.2em;
      font-weight: 600;
      input {
        text-align: center;
        font-size: 1rem;
        display: block;
        margin: auto;
        margin-top: .5rem;
        width: 80%;
        border-radius: .4rem;
        padding: .4rem;
      }
    }
  }
  button {
    font-weight: 600;
    background-color: $light-green;
    width: 80%;
    padding: .4rem;
    font-size: 1.5rem;
    border: solid $darkest-green .2rem;
    border-radius: .5rem;
    &:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 500px) {
  .category-form {
    fieldset {
      display: inherit;
      label {
        display: inline-block;
      }
      label[for="budget"] {
        width: 40%;
      }
      label[for="category"] {
        width: 60%;
      }
    }
  }
}

@media (min-width: 800px) {
  .category-form {
    display: flex;
    fieldset {
      display: block;
      flex-grow: 3;
    }
    button {
      flex-basis: 2rem;
      flex-grow: 1;
      margin: 2rem 0;
    }
    label[for="budget"] {
      width: 30%;
    }
    label[for="category"] {
      width: 70%;
    }
  }

}