@import '../../styles/variables.css';

.category-item-holder{
  border-top: solid $darkest-green .2rem;
  padding: .75rem;
  h2 {
    font-size: 1.5em;
  }
  .item-buttons {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    button {
      font-weight: 600;
      background-color: $light-green;
      border: solid $darkest-green .2rem;
      width: 80%;
      padding: .4rem;
      font-size: 1.5rem;
      border-radius: .5rem;
      margin-right: 1rem;
      &:last-child{
        margin-right: 0;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 500px) {
  .category-item-holder {
    .category-item {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
