@import '../../styles/variables.css';

.category-add {
  padding: .75rem;
  margin-bottom: 1rem;
  
  h2 {
    font-size: 1.5em;
  }
}

@media (min-width: 500px) {
  .category-add {
    .category-form {
      fieldset {
        display: inherit;
        label {
          display: inline-block;
          width: 50%;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .category-add {
    .category-form {
      display: flex;
      fieldset {
        display: block;
        flex-grow: 3;
      }
      button {
        flex-basis: 2rem;
        flex-grow: 1;
        margin: 2rem 0;
      }
    }

  }
}