@import './variables.css';

#root {
  min-height: 100vh;
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows: auto 1fr auto;
}

#main-head {grid-area: header;}
#main-footer {grid-area: footer;}

#main-content {
  grid-area: content;
  /* display: grid;
  grid-template-areas:
  "ul";
  grid-template-columns: auto 1fr auto; */
  margin: 2rem auto;
  padding: 0 auto;
}

header {
  box-sizing: border-box;
  color: $darkgreen;
  box-shadow: 0 1px 1px -1px rgba(32,41,33,.1);
  h1 {
    padding: 1rem 1rem;
    font: 800 2rem 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
  }
}